body {
  margin: 0;
  background-color: white;
  display: block;
  font-family: cursive;
  font-size: 3vh;
  text-align: center;
}

#eve {
  padding: 2em;
  font-size: 2em;
}
.green {
  color: green;
}
.red {
  color: red;
}
